@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
      url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
      url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.card-media {
  background-color: #999999; 
}

md-card md-card-title md-card-title-media .md-media-lg {
    height: 152px;
    width: 152px;
}

.md-headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}


md-card md-card-title md-card-title-media {
    margin-top: -8px;
}

#content {
  background-color: #f7f7f7;
} 

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.homeContainer {
    color: #f5f5f5;
    background-color: #0f7595;
}


body{
    background-color: #f5f5f5;
    overflow:none;
}
.headerSection{
    margin: 20px;
}

.pic-container {
    overflow-x:hidden;
}

.loginContainer{
  background-color: #E5E5E5;
  margin: 0px;
  padding: 0px;
}

.loginHader {
  height: 280px;
  width:  100%;
  background-color: #4B585E;
}
.loginCard {
    position: absolute;
    top : 20%;
    left: 30%;
    width: 450px;
    padding: 30px;
}
md-card-title-text {
    color: #666666;
    font-size: large;
    font-weight: lighter;
}

.homeContainer {
    color: #f5f5f5;
    background-color: #0f7595;
}


body{
    background-color: #f5f5f5;
    overflow:none;
}
.headerSection{
    margin: 20px;
}

.pic-container {
    overflow-x:hidden;
}

.loginContainer{
  background-color: #E5E5E5;
  margin: 0px;
  padding: 0px;
}

.loginHader {
  height: 280px;
  width:  100%;
  background-color: #4B585E;
}
.loginCard {
    position: absolute;
    top : 20%;
    left: 30%;
    width: 450px;
    padding: 30px;
}
md-card-title-text {
    color: #666666;
    font-size: large;
    font-weight: lighter;
}