<md-toolbar layout="row" >
      <h1>Angular Material - Starter App</h1>
</md-toolbar>

<div flex layout="row">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
        <md-list>
          <md-list-item ng-repeat="item in menu">
              <md-item-content md-ink-ripple class = "noselect">
                  <md-icon>
            <i class="material-icons">{{item.icon}}</i>
          </md-icon>
                  {{item.title}}
              </md-item-content>
          </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content flex id="content" >
      <div class="table-responsive" >
          <table class="table ">
              <tr ng-repeat = "task in tasks">
                <td>kjklkjlkjl</td>
              </tr>
          </table>
        </div>
      </div>
    </md-content>
</div>