
<div class = "loginContainer" >
	<div layout="row" class = "loginHader"></div>
    <md-card class="loginCard md-padding md-whiteframe-z5">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title" >Login</span>
            </md-card-title-text>
        </md-card-title>
        <form ng-submit = "authenticate()">
            <md-input-container class="md-block">
                <label>User Name</label>
                <input ng-model = "task.username" ></input>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model = "task.password"></input>
            </md-input-container>
            <md-card-actions layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary">Login</md-button>
            </md-card-actions>
        </form>

        
    </md-card>
</div>

	